Data Properties
Data Directory =data
Min x =-0.5
Max x =0.5
Number of x bins =100
Min y =-0.5
Max y =0.5
Number of y bins =100
Min t =0.0
Max x =100.0
Number of t bins =100

Simulation Properties
Maximum time simulated =10000.0
Seed from clock =true
Number of photons =10000
Number of layers =1
1/e^2 beam diameter =1.0
FWHM delta_t =1.0
Pulse delay =20.0
Beam focal depth =1.0
Beam focal length =25.4
Beam wavelength =1.0
Max step =100.0
Epsilon =1.0E-6
Weight threshold =1.0E-6

Background Material
Index of Refraction =1.0

Layer 1
z_0 =0.0
z_1 =1.0
Index of Refraction =1.0
Anisotropy =0.9
Scattering Coefficient =1.0
Absorption Coefficient =0.0
